/.idea/
/.vs/
/.vscode/
/cmake-build-debug/
/cmake-build-release/
/Debug/
/Release/
/windward/.vs/*
/windward/wind22/.vs/*
/windward/.vs/
/windward/wind22/.vs/
/tools/vdmplay/.vs/
/tools/vdmplay/WINREL/
/tools/vdmplay/WinDebug/
/tools/vdmplay/Release/
/tools/vdmplay/VPDIAG/RELEASE/
/tools/vdmplay/VPDIAG/DEBUG/
/tools/vdmplay/VPDEMO/WINDEBUG/
/tools/vdmplay/VPDEMO/WINREL/
/tools/vdmplay/VDMPLUI/WINREL/
/tools/vdmplay/VDMPLUI/WINDEBUG/
/tools/vdmplay/UT/WINDEBUG/
/tools/vdmplay/UT/WINREL/
/tools/vdmplay/ISERVE/WINDEBUG/
/tools/vdmplay/ISERVE/WINREL/
/tools/makeriff/.vs/
/tools/makeriff/Debug/
/tools/makeriff/Release/
/enations_latest/src/WinRel/
/enations_latest/src/WinDebug/
/enations_latest/src/cmake-build-release/
/enations_latest/src/cmake-build-debug/
/enations_latest/src/.vs/
/enations/Release/
/enations/Debug/
/enations/.vs/
/enations/music/CREDIT16.WAV
/enations/music/CREDITLP.WAV
/enations/music/CREDITS1.WAV
/enations/music/CUE120A.WAV
/enations/music/CUE120B.WAV
/enations/music/CUE130.WAV
/enations/music/CUE135.WAV
/enations/music/CUE145.WAV
/enations/music/LOSEGAME.WAV
/enations/music/WINGAME.WAV
/enations/data/building/BLDGS.ZIP
